# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
venv/
env/

# Environment
.env

# Version control
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Test & cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
